
.gdgc{
    display: none;
}
.mymusic{
  position: relative;
  overflow: hidden;
}

/* header,.middle,.bottom{
    display: none;
} */

.gdxq{
    display: none;
}

header{
    position: sticky;
    top: 0px;
    
}
.system-nav,.gc-system-nav{
    height: 24px;
}
.nav{
    
    height: .5rem;
    padding: 0 .1rem;
}
.menu{
    width: .3rem;
    height: .3rem;
    margin-top: .11rem;
    background:url('../icon/menu.png') no-repeat center center;
    background-size: .3rem .3rem;
}
.nav-title-box{
    width: calc(100% - .6rem );
    height: .5rem;
    

}
.nav-title{
    padding: 0 .39rem;
}
.nav-title>span{
    margin: 0px .08rem;
    line-height: .5rem;
    font-size: .16rem;
    color: #B9B9B9;
}

.search{
    width: .3rem;
    height: .3rem;
    background:url('../icon/search.png') no-repeat center center;
    background-size: .3rem .3rem;
    margin-top: .11rem;
}
.en{
    font-size: .2rem !important;
    font-weight: bold;
    color:#2F2F2F !important;
}

.middle{
    
    height: calc(100% - 24px - .5rem - .8rem);
}
.man1{
    height: 100%;
    overflow-y: auto;
   
}
.ban{
    height: 142px;
    margin: .2rem 0;

}
.yj{
    border-radius: 10px !important;
}

.dian{
    width: .1rem !important;
    height: .1rem !important;
    border-radius: 50%;
}
.active{
    background-color: #D33A31 !important;
}
.icon-list-box{
    width: 100%;
    padding: 0 10px;
}
.icon-list{
    width: 100%;
}
.icon-list>li{
    float: left;
    margin-right:.24rem ;
}
.icon-list>li:last-child{
    margin-right: 0;
}
.icon{
    width: .5rem;
    height: .5rem;
}
.text{
    margin-top: .1rem;
    height: .14rem;
    line-height: .14rem;
    font-size: .14rem;
    text-align: center;
}
.recommend{
    width: 100%;
    padding: 0 10px;

}
.gedan-top{
    width: 100%;
    height: .7rem;
}
.gedan-title{

    line-height: .7rem;
    float: left;
    font-size: .2rem ;
    font-weight: bold;
    color:#2F2F2F ;
}
.gedan-all{
    margin-top: .2rem;
    line-height: .3rem;
    text-align: center;
    width: .8rem;
    height: .3rem;
    border-radius: .2rem;
    border: 2px solid #f3f3f3;
    float: right;
    font-size: .14rem;
}
.gedan-list{
    width: 100%;
}
.gedan-item{
    position: relative;
}
.gedan-list>.gedan-item{
    
    float: left;
    margin-right: .12rem;
    margin-bottom: .1rem;
}
.gedan-list>.gedan-item:nth-child(3n){
    margin-right: 0;
}
.gedan-img{
    width: 1.1rem;
    height: 1.1rem;
    border-radius: .07rem;
    overflow: hidden;
   
}
.gedan-wenzi{
    margin-top: .1rem;
    font-size: .14rem;
    
    width: 1.1rem;
    height: .39rem;

}
.xindie{
    width: 100%;
}
.xindie-top{
    width: 100%;
    height: .7rem;
}
.xindie-title{
    line-height: .7rem;
    float: left;
    font-size: .2rem ;
    font-weight: bold;
    color:#2F2F2F ;
}
.xindie-all{
    margin-top: .2rem;
    line-height: .3rem;
    text-align: center;
    width: .8rem;
    height: .3rem;
    border-radius: .2rem;
    border: 2px solid #f3f3f3;
    float: right;
    font-size: .14rem;
}
.xindie-list{
    width: 100%;
}
.xindie-item{
    position: relative;
}
.xindie-list>.xindie-item{
    
    float: left;
    margin-right: .12rem;
    margin-bottom: .1rem;
}
.xindie-list>.xindie-item:nth-child(3n){
    margin-right: 0;
}
.xindie-img{
    width: 1.1rem;
    height: 1.1rem;
    border-radius: .07rem;
    overflow: hidden;
   
}
.xindie-wenzi{
    margin-top: .1rem;
    font-size: .14rem;
    width: 1.1rem;
}
.xindie-wenzi1{
    font-size: .12rem;
    color: #B9B9B9;
    width: 1.1rem;
}

.bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width:100% ;
    background: #FFFDFC;
    height: .8rem;
   
}
.simg-box{
    margin-top: .075rem;
    width: .65rem;
    border-radius:50%;
    overflow: hidden;
    margin-left:  .1rem;
}
.s{
    margin:.14rem 0 0 .14rem;
    

}
.sname{
    width: 1rem;
    font-size: .2rem;
    margin-bottom:.05rem ;
}
.sicons{
    width: 1rem;
    margin-top: .225rem;
    margin-right:.1rem;
}
.sicons>span{
    float: left;
    width: .35rem;
    height: .35rem;
    background-size: .35rem .35rem ;

}

.play{
    background: url('../icon/play.png') no-repeat center center;
}
.menuopen{
    margin-left: .2rem;
    background: url('../icon/menuOpen.png') no-repeat center center;
    
}
.progress{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: .74rem;
    width: 100%;
    height: .05rem;
    background: #f2f2f2;
}
.active-progress{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70%;
    height: .05rem;
    background: #D33A31;
}
.line{
    margin-top: .2rem;
    display: block;
    width: 100%;
    content: '';
    height: .01rem;
    background: #F2F2F2;

}
.yinfu{
    position: absolute;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: .05rem;
    bottom: 5px;
    margin-right: .05rem;
    transform: rotateZ(0deg);
    z-index: 3;
    
}
.yf1.activeYF{
    background: url(../icon/1.png) no-repeat center center;
    background-size: .2rem .2rem;
    left: 5px;
    animation: y1 3s linear 0s infinite;
    
}
.yf2.activeYF{
    background: url(../icon/2.png) no-repeat center center;
    background-size: .2rem .2rem;
    left: 20px;
  animation: y2 4.5s linear .6s infinite;

}
.yf3.activeYF{
    background: url(../icon/3.png) no-repeat center center;
    background-size: .2rem .2rem;
    left: 30px;
    animation: y3 6s linear 1.3s infinite;

}
@keyframes y1{
    0%{
        bottom: 5px;
        transform: rotateZ(0deg);
        opacity: 1;
        left: 5px;
    }
    100%{
        bottom: 65px;
        transform: rotateZ(360deg);
        opacity: 0;
        left: 7px;
    }
}
@keyframes y2{
    0%{
        bottom: 5px;
        transform: rotateZ(0deg);
        opacity: 1;
        left: 20px;
    }
    100%{
        bottom: 65px;
        transform: rotateZ(360deg);
        opacity: 0;
        left: 15px;
    }
}
@keyframes y3{
    0%{
        bottom: 5px;
        transform: rotateZ(0deg);
        opacity: 1;
        left: 5px;
    }
    100%{
        bottom: 65px;
        transform: rotateZ(360deg);
        opacity: 0;
        left: 10px;
    }
}




/* 歌单广场 */
.gdgc{
    
    height: calc(100% - .8rem - 24px);
}
.gdgc-box{
    height: 100%;
    
}
.gdgc-top{
    height: .6rem;
    padding: 0 15px;
    
}
.houtui{
    display: inline-block;
    height: .3rem;
    width: .3rem;
    background: url(../icon/zuo.png) no-repeat center center;
    background-size: .3rem .3rem;
    margin-top: .15rem;
}
.gdgc-title{
    font-size:.2rem;
    line-height: .6rem;
    margin-left: .2rem;
}
.gdgc-nav{
    width: 100%;
    height: .4rem;

    padding: 0 15px;
}
.gdgc-nav-box{
    width: calc(100% - .3rem);
    overflow-x: auto !important;
    overflow: hidden;

}

.gdgc-bigbox{
    width: 7.34rem;
    height: .4rem;
    position: relative;
}
.gdgc-nav-list{
 
   width: 7.34rem;
  
    

    
}
.gdgc-nav-list>li{
    float: left;
    width: .48rem;
    line-height: .3rem;
    height: .3rem;
    text-align: center;
    margin-right: .5rem;
}
.gdgc-nav-list>li:last-child{
    margin-right: 0px;
}
.xiahuaxian{
    display: block;
    position: absolute;
    bottom:-1px;
    left: 8px;
    width: .32rem;
    background: #E92D3A;
    height: .02rem;
}
.gdgc-nav-list>li.em{
    color: #E92D3A !important;
    font-weight: bold;
}
.more{
    height: .3rem;
    width: .3rem;
    background:url(../icon/more.png) no-repeat center center
}
.line1{
    display: block;
    width: 100%;
    content: '';
    height: .01rem;
    background: #F2F2F2;
}
.gdgc-list-box{
    height: calc(100% - .6rem - .4rem - 1px);
    padding-top: .2rem;
    overflow-y: auto;
}
.banan{
    padding: 0 15px;
    
}
.banan-box{
    width: 100%;
    height: 160px;
    background: url('https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2014366758,395468389&fm=26&gp=0.jpg') no-repeat center center;
    background-size: 375px 160px;
}
.gdgc-biao{
    padding: 0 .15rem;
    margin-top: .2rem;
}
.item-img{
    width: 1.1rem;
    height: 1.1rem;
    border-radius: .07rem;
    overflow: hidden;
}
.item-text{
    margin-top: .1rem;
    font-size: .12rem;
    width: 1.1rem;
    height: .36rem;
}
.gdgc-biao>.gdgc-item{
    position: relative;
    float: left;
    margin-right: .07rem;
    margin-bottom: .1rem;
}
.gdgc-biao>.gdgc-item:nth-child(3n){
    margin-right: 0;
}

.layer{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: .25rem;
    background: rgba(0, 0, 0, .1);
    border-top-right-radius: .07rem ; 
    border-top-left-radius: .07rem ; 

}
.lister-icon{
    margin-top: .075rem;
    height: .1rem;
    width: .1rem;
    background: url('../icon/sanjiao.png') no-repeat center center;
    background-size: .1rem .1rem;
}
.lister-number{
    line-height: .25rem;
    font-size:.12rem;
    color: white;
    margin: 0 5px;
}

.vip-box{
    text-align: center;
    width: 2.5rem;
    margin: 1rem auto 0;
    display: none;
}
.vip{
    font-size: .2rem;
    margin-bottom: .2rem;
    font-weight:bold ;
}
.vip-box>span{
    
    color: #D33A31;
}




/* 歌单详情 */
.gdxq{
 height: calc(100% - .8rem - 24px);
 background: #D33A31;
 
}
.gdxq-top{
    line-height: .6rem;
    height: .6rem;
    padding: 0 15px;
    background: #D33A31;
}
.top-houtui{
    height: .3rem;
    width: .3rem;
    background: url(../icon/zuo1.png) no-repeat center center;
    background-size: .3rem .3rem;
    margin-top: .15rem;
}
.top-title{
  color: white;
  font-size: .2rem;
    line-height: .6rem;
    margin-left: .2rem;
}
.you{
    height: .6rem;
}
.top-search{
    height: .3rem;
    width: .3rem;
    background: url(../icon/search\ 1.png) no-repeat center center;
    background-size: .3rem .3rem;
    margin-top: .15rem;
    margin-right: .2rem;
}
.top-more{
    height: .3rem;
    width: .3rem;
    background: url(../icon/more\ 1.png) no-repeat center center;
    background-size: .3rem .3rem;
    margin-top: .15rem;
}
.gdxq-middle{
    height: 1.7rem;
    background: #D33A31;
   
    padding:0 .15rem;
    
}
.fengmian{
    position: relative;
    margin-top: .1rem;
}
.tu{
    width: 1.4rem;
    height: 1.4rem;
    
}
.xinxi{
    width: calc(100% - 1.4rem - .2rem );
    height: 1.4rem;
    
    margin-top: .1rem;
    color: white;
}
.xzuozhe-box{
    margin: .1rem 0 .09rem 0;
}
.xzuozhe-tou{
    width: .40rem;
    height: .40rem;
    border-radius: 50%;
    background-image:url();
    background-size: .4rem .4rem;
    background-repeat: no-repeat;
    background-position: center center;
   
}
.xzuozhe-title{
    width: 1.35rem;
    font-size: .14rem;
    margin-left:.1rem ;
    line-height: .4rem;
}
.xzuozhe-jieshao{
    font-size: .12rem;
}
.gdxq-bottom{
    
    background: white;
    height: calc(100% - .6rem - 1.7rem );
    width: 100%;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    /* overflow-y: auto; */
}
.gdxq-list{
    height: 100%;
    position: relative;
}
.list-top{
    height: .5rem ;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 .08rem;
}
.list-top-tu{
    background: url('../icon/play1.png') no-repeat center center;
    background-size: .2rem .2rem;
    height: .2rem;
    width: .2rem;
    margin: .1rem .1rem 0 0;
}
.list-top-tile{
    line-height: .4rem;
}
.list-top-mun{
    line-height: .4rem;
    font-size: .14rem;
    color: #ddd;
    display: inline-block;
}
.list-shoucang{
    margin-top: .05rem;
    padding: 0 0.12rem;
    border-radius: .7rem;
    width: 1.1rem;
    height: .34rem;
    background: #E92D3A;
}
.list-shoucang>span{
    font-size: .12rem;
    color: white;
    line-height: .34rem;
}
.gdxq-item-box{
    height: calc(100% - .5rem  );
    overflow-y: auto;
}
.gdxq-list-item{
    height: .5rem;
    
    padding: 0 .1rem;
}
.xuhao{
    line-height: .5rem;
    width: .25rem;
    position: relative;
    /* margin-right: .1rem; */
}
.laba{
   width: .25rem;
   height: .25rem;
   position: absolute;
   top:8px;
   display: none;
}
.jihuo{
    display: block !important;
}
.gdxq-1{
    width: 3rem;
}
.gdxq-2{
    font-size: .12rem;
    color: #767676;
    background: url(../icon/SQ.png) no-repeat 0 0;
    background-size:.16rem .16rem;
    text-indent: .18rem;
    width: 3rem;
    
}
.xinxin{
    width: .25rem;
    height: .25rem;
    margin-top: .125rem;
    background: url('../icon/xin.png') no-repeat center center;
    background-size: .25rem .25rem;
}
.tip{
    position: absolute;
    top: .5rem;
    width: 100%;
    height: 2.85rem;
    background: white;
}
.tip-box{
    width: 1.2rem;
    margin: 1.29rem auto;
}
.tip-box>i{
    display: inline-block;
    width: .02rem;
    height: .21rem;
    background-color: #D33A31;
    margin-left: 0 .03rem;
}
tip-box>span{
    font-size:.12rem;
    line-height: .27rem;
    width: .3rem;
}
.tip-box>i:nth-child(1){
    animation: loading .3s linear 0s infinite alternate;
}
.tip-box>i:nth-child(2){
    animation: loading .3s linear .12s infinite alternate;
  }
  
  .tip-box>i:nth-child(3){
    animation: loading .3s linear .06s infinite alternate;
  }
  
  .tip-box>i:nth-child(4){
    animation: loading .3s linear .2s infinite alternate;
  }
@keyframes loading{
    0%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(.2);
    }
}

.vip-tip{
    width: 3rem;
    height: 1.5rem;
    background: white;
    color: #D33A31;
    line-height: 1.5rem;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 25px;
    display: none;
}


.RecentlyPlayed-bg{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    display: none;
}

.RecentlyPlayed-box{
    position: absolute;
    bottom: -400px;
    width: 100%;
    height: 60%;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    background: white;
}
.RecentlyPlayed-list-top{
    width: 100%;
    padding: .1rem;
}
.rp-zuo{
    background: url(../icon/lbxh.png) no-repeat 0 0;
    line-height: 22px;
    font-size: .14rem;
    background-size: .25rem .25rem;
    text-indent: .30rem;
}
.sc{
    background: url(../icon/scqb.png) no-repeat 0 0;
    line-height: 22px;
    font-size: .14rem;
    background-size: .25rem .25rem;
    text-indent: .30rem;
}
.del{
    background: url(../icon/del.png) no-repeat 0 0;
    width: .25rem;
    height: .25rem;
    background-size: .25rem .25rem;
    margin-left: .15rem;
}
.RecentlyPlayed-list{
    height: calc(100% - .45rem);
    overflow-y: auto;
    
}
.RecentlyPlayed-list-item{

    height: .5rem;
    
    padding: 0 .1rem;
}
.lb-icon{

   width: .25rem;
   height: .25rem;
   background: url('../icon/laba.png') no-repeat center center;
   background-size: .25rem .25rem;
   float: left;
   display: none;
}
.lb-act{
    display: block !important;
}
.rp-sname-act{
    color: #D33A31 !important;
    font-weight:bold ;
}
.rp-sname{
    font-size: .16rem;
    margin:0 .05rem;
    float: left;
    
}
.rp-singer{
    margin-top: .03rem;
    color: #B9B9B9;
    font-size: .14rem;
    float: left;
}
.rp-remove{
    width: .25rem;
   height: .25rem;
   background: url('../icon/remove.png') no-repeat center center;
   background-size: .25rem .25rem;
}
.gcym{
    height: 100%;
    background: url(../img/timg.jpg) no-repeat center center;
    background-size: 100% 100%;
    position:absolute;
    bottom: 100%;
    width: 100%;
    z-index: 20;
    
}
.gc{
    height: 100%;
}
.gc-top{
    height: .6rem ;
   
    padding: 0 10px;
}
.gc-black{
    width: .35rem;
    height: .35rem;
    background: url(../icon/zuo1.png) no-repeat center center;
    background-size: .35rem .35rem;
    margin-top: .125rem;
    margin-right: .15rem;
}
.gc-title{
    line-height: .21rem;
    margin-top: .1rem;
}
.gc-name{
    color: white;
    font-size: .18rem;
}
.gc-singer{
    color: #767676;
    font-size: .14rem;
}
.gc-share{
    width: .35rem;
    height: .35rem;
    background: url(../icon/share.png) no-repeat center center;
    background-size: .35rem .35rem;
    margin-top: .125rem;
}
.gc-middle{
    position: relative;
    height: calc(100% - 1rem - .6rem - 24px - .4rem - .4rem);
    margin-bottom: .4rem;
    margin-top: .4rem;
    text-align: center;
    overflow: hidden;
}
.singword{
    position: absolute;
    top: 100px;
    left: 62px;
    
    overflow-y: auto;
    
}
.gc-bottom{
    height: 1rem;
   
    padding: 0 10px;
}

.star,.end{
    font-size: .12rem;
    color: white;
}
.hkb{
    position: relative;
    margin-top: .08rem;
    width: calc(100% - .285rem - .285rem - 20px);
    height: 1px;
    background: #D2C5C0;
    margin-left: 10px;
}
.hk{
    position: absolute;
    height: .08rem;
    width: .08rem;
    border-radius: 50%;
    background: white;
    left: -3px;
    top: -3px;
}
.hdt{
    position: absolute;
    width: 0;
    height: 1px;
    top: 0;
    left: 0;
    background: #D33A31;
}
.contrl{
    padding: 0 .15rem;
    
}
.mode{
    margin-top: .1rem;
    width: .25rem;
    height: .25rem;
    background: url('../icon/xhbficon.png') no-repeat center center;
    background-size: .25rem .25rem;
    
}
.play-contrl{
    margin-top: .08rem;
    margin-left: .42rem;

}
.prev{
    margin-top: .2rem;
    width: .25rem;
    height: .25rem;
    background: url('../icon/sys.png') no-repeat center center;
    background-size: .25rem .25rem;
    float: left;
}
.gc-play{
    width: .65rem;
    height: .65rem;
    background: url('../icon/gcplay.png') no-repeat center center;
    background-size: .65rem .65rem;
    float: left;
    margin: 0 .4rem;
}
.next{
    margin-top: .2rem;
    width: .25rem;
    height: .25rem;
    background: url('../icon/xys.png') no-repeat center center;
    background-size: .25rem .25rem;
    float: left;
}
.singword>p{
    width: 2.56rem;
    height: .5rem;
    text-align: center;
}
.gcact{
    color: white;
}
